@import "../variables";

.modal {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 340px;
  min-height: 460px;
  background: $white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  box-sizing: border-box;
}