.avatar-modal {
  padding: 40px 30px;
}

.avatar-modal__file {
  width: 50%;
  margin: 0 auto 45px;
  line-height: 16px;
  text-align: center;

  & label {
    font-size: 12px;
    text-decoration-line: underline;
    color: $primary-blue;
    cursor: pointer;
  }

  & span {
    font-size: 14px;
    color: $dark-gray;
  }
}

.avatar-modal__title {
  display: block;
  margin: 0 0 43px;
  font-size: 15px;
  line-height: 20px;
  text-align: center;

  &--error {
    color: $alert;
  }
}

.avatar-modal__button {
  position: relative;
}

.avatar-modal__error {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 14px;
  font-size: 11px;
  line-height: 11px;
  color: $alert;
}
