@import "../../scss/variables";

.chats {
  display: grid;
  grid-template-columns: 310px 1fr;
  height: 100vh;
}

.chats__dialogue-wrap {
  background: $gray;
  border-right: 1px solid $light-gray;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.chats__search-wrap {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: calc(100% - 20px);
  padding: 20px 10px 14px;
  background: $gray;
  z-index: 3;
}

.chats__link {
  position: relative;
  margin-bottom: 23px;
  padding-right: 12px;
  font-size: 12px;
  line-height: 12px;
  text-align: right;
  color: $message;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 9px;
    width: 6px;
    background-image: url("/img/icon-arrow-gray.svg");
  }
}

.chats__window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chats__empty {
  font-size: 12px;
  line-height: 12px;
  color: $message;
}

.chats__wrap {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 350px);
  height: 100vh;
  padding: 0 20px;
}

.chats__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid $light-gray;
}

.chats__header-wrap {
  display: flex;
  align-items: center;
}

.chats__avatar {
  margin-right: 10px;
  width: 34px;
  height: 34px;
  background: $gray-background;
  border-radius: 50%;
}

.chats__name {
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
}

.chats__utils-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  background-image: url("/img/icon-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;

  &.active,
  &:hover {
    background-color: $hover;
    background-image: url("/img/icon-menu-active.svg");
  }
}

.chats__content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.chats__footer {
  position: relative;
  padding: 11px 0;
  border-top: 1px solid $light-gray;
}

.chats__incoming,
.chats__outgoing {
  margin: 15px 0;
  max-width: 41%;
}

.chats__outgoing {
  align-self: flex-end;
}

.chats__date {
  display: block;
  margin: 15px 0;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $message;
}
