$primary-blue: #3369f3;
$primary-text-color: #1E1E1E;
$secondary-text-color: #999999;
$alert: #FF2F2F;
$white: #FFFFFF;
$black: #000000;
$gray: #FBFBFB;
$light-gray: #EAEAEA;
$dark-gray: #8D8D8D;
$gray-background: #EFEFEF;
$selected: #E4EDFD;
$message: #999999;
$hover: #F5F5F5;
$message-incoming: #F8F8F8;