@import "../../scss/variables";

.input-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 8px 0;
  font-size: 13px;
  line-height: 13px;
  border-bottom: 1px solid $light-gray;

  &.invalid {
    & input {
      margin-bottom: 7px;
    }
  }

  & span {
    margin-right: 20px;
  }

  &.invalid {
    span {
      color: $alert;
    }
  }

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
  }

  & input {
    flex-grow: 1;
    font-size: 13px;
    line-height: 13px;
    text-align: end;
    color: $secondary-text-color;
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }
}

.input-profile__error {
  width: 100%;
  font-weight: 400;
  font-size: 8px;
  line-height: 8px;
  color: $alert;
}
